torch>=2.0
gym==0.15.4
numpy<1.23.0
opencv-python
glfw
pyyaml
tensorboard
lxml
cython<3
mujoco==2.3.3
mujoco-py<2.2,>=2.1
torch-geometric==2.4.0
hydra-core==1.1.1
hydra-submitit-launcher==1.1.5
hydra-joblib-launcher
wandb==0.24.2
imageio
numpy-quaternion
matplotlib
ipykernel
seaborn
scipy